// This file is empty within the template
// You can use it to override CSS from within your project

.navbar-light .navbar-toggler {
 color: #fdebdb 
}

.section .section .bg-white {
    background-color: #453645
}

.bg-dark {
    background-color: #453645
}
