{{ define "main" }}

{{ partial "page-header.html" . }}
<!-- <section class="section bg-dark"> -->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/catalystdatascience/free30min?background_color=fbebdb&text_color=453645&primary_color=6ea49d" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
<!-- </section> -->

{{ end }}
